In [ ]:
print("Hello world")

Hello world

In [ ]:
x = 5
y = "Sumit"
z = 2.4
print(x)
print(y)
print(z)

x = 5
y = "Sumit"
z = 2.4
u = 3j
print(type(x))
print(type(y))
print(type(z))
print(type(u))

5
Sumit
2.4
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [ ]:
#variable
a = [1]

In [ ]:
a = ["Sumit",'Rahul']
print(a)
_a = ["Sumit",'Rahul']
print(a)
_a2 = ["Sumit",'Rahul']
print(_a2)

['Sumit', 'Rahul']
['Sumit', 'Rahul']
['Sumit', 'Rahul']

In [ ]:
#single quote or Double Quotes
w = "Sumit"
y = 'YOYO'
e = "su'e'tr"
print(w)
print(y)
print(e)

Sumit
YOYO
su'e'tr

In [ ]:
#Case sensitive
# variable names are case-sensitive.
a = 4
A = "Sally"
print(a)
print(A)

#Means Variable or (print value) should same like capital Letter or small letter

In [ ]:
#Multi Words variable names
#varibale name with more one word can be difficult to read

#CAMEL CASE
#Each word, except the first starts with a capital letter.
myVariableName = 'John'

#PASCAL CASE
#Each word starts with capital letter
MyVariableName = 'John'

#SNAKE CASE
#Each word is seprated by a underscore character
My_Varibale_Name = 'John'

In [ ]:
#many values to multiple variable
x, y, z = ["orange","banana","kiwi"]
print(x)
print(y)
print(z)

#one value in multiple variable
x = y = z = ["orange"]
print(x)
print(y)
print(z)

orange
banana
kiwi
['orange']
['orange']
['orange']

In [ ]:
##Legal variable names:
myvar = 'John'
my_var = 'John'
_my_var = 'John'
myVaR = 'John'
MYVAR = 'John'
myvar2 = 'John'

In [ ]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

# error will come # error valid here

In [ ]:
#Assign multiple variable values

#Many values to multiple variable
#python allow to assign multiple variable in one line.
x,y,z = "orange", "apple", "Kiwi"
print(x)
print(y)
print(z)

A,B,C,D = "apple","lll","kkk","jjj"
print(A)
print(B)
print(C)
print(D)

In [ ]:
#One Value to Multiple Variables
#And you can assign the same value to multiple variables in one line:

#Example
x = y = z = "Orange"
print(x)
print(y)
print(z)

k = l = h = "SUMIT"
print(k)
print(l)
print(h)

In [ ]:
#Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

#Example
#Unpack a list:

Juice = ["Mango Juice","Apple Juice","orange Juice"]
x, y, z = Juice
print(x)
print(y)
print(z)

Mango Juice
Apple Juice
orange Juice

In [ ]:
#Output Variables
#The Python print() function is often used to output variables.
x = "python is cool"
print(x)

#In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "cool"
print(x,y,z)

#You can use + operator to ouput multiple variable
x = "Python"
y = "is"
z = "cool"
print(x + y + z)

python is cool
Python is cool
Pythoniscool

In [ ]:
#In the print() function, when you try to combine a string and a number with the + operator,
#Example
x = 5
y = "John"
print(x + y)
#Python will give you an error:

In [ ]:
#Built-in Data Types
#In programming, data type is an important concept.

#Variables can store data of different types, and different types can do different things.

#Python has the following data types built-in by default, in these categories:

#Text Type:	str
#Numeric Types:	int, float, complex
#Sequence Types:	list, tuple, range
#Mapping Type:	dict
#Set Types:	set, frozenset
#Boolean Type:	bool
#Binary Types:	bytes, bytearray, memoryview
#None Type:	NoneType

#Example	Data Type	Try it
#x = "Hello World"	str
#x = 20	int
#x = 20.5	float
#x = 1j	complex
#x = ["apple", "banana", "cherry"]	list
#x = ("apple", "banana", "cherry")	tuple
#x = range(6)	range
#x = {"name" : "John", "age" : 36}	dict
#x = {"apple", "banana", "cherry"}	set
#x = frozenset({"apple", "banana", "cherry"})	frozenset
#x = True	bool
#x = b"Hello"	bytes
#x = bytearray(5)	bytearray
#x = memoryview(bytes(5))	memoryview
#x = None	NoneType

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>