In [ ]:
print("Hello world")

Hello world

In [ ]:
List = ["apple","cherry","banana"]
print(List)

['apple', 'cherry', 'banana']

In [ ]:
List = [1,2,3,4,5,6]
print(List)

[1, 2, 3, 4, 5, 6]

In [ ]:
#Read theory from notebook
#List items
#ordered
#Changeable
#Allow duplicates

In [ ]:
#Example List Allow Duplicates Values:
List = ["apple","apple","cherry","banana"]
print(List)

['apple', 'apple', 'cherry', 'banana']

In [ ]:
#List length
#len()
List = ["apple","apple","cherry","banana"]
print(len(List))

List = ["Sumit", "Anoop","Chandan","Op","kaku"]
print(len(List))

4
5

In [ ]:
#List can contains different types of data type in single variable.
List1 = ["sumit",1,True]
print(List1)

List = ["Sumit",2.0,3j,True,2]
print(List)

['sumit', 1, True]
['Sumit', 2.0, 3j, True, 2]

In [ ]:
#type()
List = ["Sumit","Koki","mayank"]
print(type(List))
List1 = (1,23,4,56)
print(type(List1))

List2 =["p"]
List3 =(3)
List4 ={2.4}
print(type(List2))
print(type(List3))
print(type(List4))

<class 'list'>
<class 'tuple'>
<class 'list'>
<class 'int'>
<class 'set'>

In [ ]:
#List constructor
List = [1,2,4,5,]
tuple = tuple(List)
print(tuple)

Tuple = (3,3,2,2)
list = list(Tuple)
print(list)

(1, 2, 4, 5)
[3, 3, 2, 2]

In [ ]:
#Access items
thislist = ["apple","banana","cherry"]
print(thislist[1])

List = ["Sumit","kaku","Ajay"]
print(List[0])

banana
Sumit

In [ ]:
#Negative indexing
List = ["apple","banana","cherry"]
print(thislist[-1])

cherry

In [ ]:
#Range of indexes
#return the second third or fourth value
List = ["apple","cherry","kiwi","banana","mango","orange"]
print(List[1:4])

['cherry', 'kiwi', 'banana']

In [ ]:
#Example :item from begining to but not include melon
List = ["apple","banana","cherry","kiwi","melon","mango"]
print(List[:4])

['apple', 'banana', 'cherry', 'kiwi']

In [ ]:
#This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
List = ["apple","kiwi","orange","kiwi"]
print(List[2:])

['orange', 'kiwi']

In [ ]:
#Range of Negative Indexes
#Specify negative indexes if you want to start the search from the end of the list:
List = ["apple","banana","cherry","kiwi","orange","mango"]
print(List[-0:-1])

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
#Check if Item Exists
#To determine if a specified item is present in a list use the in keyword:

#Example : check if apple exist in list :
List = ["apple","kiwi","orange","mango","banana","tomato"]
if "banana" in List:
  print("yes,'banana' is in the fruit List")

List = ["Mango","papaya","cherry","Kiwi"]
if "apple" in List:
  print("yes")
else:
  print("No")

yes,'banana' is in the fruit List
No

In [ ]:
#change itme value
#change the second value
List = ["Black","White","Yellow","Red"]
List[3]="Pink"
print(List)

List = ["data","Enginer","analysis"]
List[0] = "Science"
print(List)

List = ["Git Hub","Linkedin","Profile"]
List[2] = "Github"
print(List)

['Black', 'White', 'Yellow', 'Pink']
['Science', 'Enginer', 'analysis']
['Git Hub', 'Linkedin', 'Github']

In [ ]:
#Change a Range of Item Values
#Example
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
List = ["apple","banana","cherry","kiwi"]
List[0:1] = ["papaya","cherry"]
print(List)

List = ["apple","banana","Kiwi","Mango"]
List[0:1] = ["orange","papaya"]
print(List)

['papaya', 'cherry', 'banana', 'cherry', 'kiwi']
['orange', 'papaya', 'banana', 'Kiwi', 'Mango']

In [ ]:
#Insert Items
#The insert() method inserts an item at the specified index:
#Insert "watermelon" as the third item:
List = ["apple","kiwi","banana","cherry"]
List.insert(0, "mango")
print(List)

List = ["apple","Kiwi","cherry"]
List.insert(2,"Watermelon")
print(List)

List = ["apple","Kiwi","Cherry"]
List.insert(3,"Water melon")
print(List)

['mango', 'apple', 'kiwi', 'banana', 'cherry']
['apple', 'Kiwi', 'Watermelon', 'cherry']
['apple', 'Kiwi', 'Cherry', 'Water melon']

In [ ]:
#Append Items
#To add an item to the end of the list, use the append() method:
#Example
#Using the append() method to append an item:
List = ["apple","Kiwi","cherry"]
List.append("avocado")
print(List)

List = ["apple","cherry"]
List.append("Kiwi")
print(List)

['apple', 'Kiwi', 'cherry', 'avocado']
['apple', 'cherry', 'Kiwi']

In [ ]:
#Extend List
#To append elements from another list to the current list, use the extend() method.
#Add the elements of tropical to thislist:
List = ["apple","banana","cherry"]
People = [1,2,4,5]
List.extend(People)
print(List)

List = [1,2,3,34]
List1 =["one","Two","Three"]
List.extend(List1)
print(List)

['apple', 'banana', 'cherry', 1, 2, 4, 5]
[1, 2, 3, 34, 'one', 'Two', 'Three']

In [ ]:
#Add Any Iterable
#Add elements of a tuple to a list
List = ["apple","kiwi","orange"]
tuple = ("kiwi","banana")
List.extend(tuple)
print(List)

['apple', 'kiwi', 'orange', 'kiwi', 'banana']

In [ ]:
#Python - Remove List Items
#Remove Specified Item
#The remove() method removes the specified item.

#Example
#Remove "banana":

In [ ]:
List = ["apple","banana","cherry"]
List.remove("cherry")
print(List)

List = ["apple","cherry","Kiwi"]
List.remove("cherry")
print(List)

['apple', 'banana']
['apple', 'Kiwi']

In [ ]:
#Remove Specified Index
#The pop() method removes the specified index.
List = ["apple","banana","cherry","Avocado"]
List.pop(2)
print(List)

List = ["avocado","cherry","papaya"]
List.pop(0)
print(List)

['apple', 'banana', 'Avocado']
['cherry', 'papaya']

In [ ]:
#if you leave blank it will remvoe last item
List = ["APPLE","CHERRY","KIWI"]
List.pop()
print(List)

['APPLE', 'CHERRY']

In [ ]:
#The del keyword also removes the specified index:

#Example
#Remove the first item:

List = ["apple", "banana", "cherry"]
del List[0]
print(List)

['banana', 'cherry']

In [ ]:
#Clear the List
#The clear() method empties the list.

#The list still remains, but it has no content.

#Example
#Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

List = ["apple","cherry"]
List.clear()
print(List)

[]
[]

In [ ]:
#Python - Loop Lists
#Loop Through a List
#You can loop through the list items by using a for loop:
#Print all items in the list, one by one.
List = ["apple","Kiwi"]
for x in List:
  print(x)

List = [1,2,3,4,6]
for x in List:
  print(x)

List = ["Army","Police","Nda"]
for x in List:
  print(x)

apple
Kiwi
1
2
3
4
6
Army
Police
Nda

In [ ]:
#Using a While Loop
#Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

#Example
#Print all items, using a while loop to go through all the index numbers
List = ["apple","kiwi","cherry"]
o = 2
while o < len(List):
  print(List[o])
  o = o + 1

List = [1,2,3,4,5,6,78]
x = 6
while x < len(List):
  print(List1[x])
  x = x + 1

cherry
78

In [ ]:
#Looping Using List Comprehension
#List Comprehension offers the shortest syntax for looping through lists:

#A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
#List comprehension
Juice = ["banana shake", "mango shake", "Orange Juice"]
List = []

for x in Juice:
  if "s" in x:
    List.append(x)
print(List)

#essay method
#With list comprehension you can do all that with only one line of code:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['banana shake', 'mango shake']
['apple', 'banana', 'mango']

In [ ]:
#newlist = [expression for item in iterable if condition == True]

In [ ]:
newlist = [x for x in range(10) if x < 5 ]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
#You can use the range() function to create an iterable:

newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Only accept items that are not "apple":

newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
#Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
#Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]
print(newlist)

In [ ]:
#Return "orange" instead of "banana":

newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

In [ ]:
#Python - Sort Lists
#List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

#Example
#Sort the list alphabetically:

List = ["apple","orange","kiwi","pineapple","banana"]
List.sort()
print(List)

List = [2,5,5,63,3,4,5,3]
List.sort()
print(List)

['apple', 'banana', 'kiwi', 'orange', 'pineapple']
[2, 3, 3, 4, 5, 5, 5, 63]

In [ ]:
#Sort Descending
#To sort descending, use the keyword argument reverse = True:

#Example
#Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

List = [1000,34,343,432]
List.sort(reverse = True)
print(List)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[1000, 432, 343, 34]

In [ ]:
#Customize Sort Function

#You can also customize your own function by using the keyword argument key = function.

#Example
#Sort the list based on how close the number is to 50


def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
#Copy a list
#Example
#Make a copy of a list with the copy() method:
List = ["apple","banana","kiwi"]
List.copy()
print(List)

List = ["apple","banana","kiwi"]
List.copy()
print(List)

#Use the slice Operator
#You can also make a copy of a list by using the : (slice) operator.
thislist = ["apple", "banana", "cherry"]
thislist[:]
print(thislist)

['apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi']
['apple', 'banana', 'cherry']

In [ ]:
#Join Two Lists
#Example
#Join two list:

List1 = ["sumit","Kiwi","Orange"]
List2 = [2,3,4,5]
List3 = List1 + List2
print(List3)

List1 = [23 + 33]
List2 = ["Sumit","Jojo"]
List3 = List1 + List2
print(l)

['sumit', 'Kiwi', 'Orange', 2, 3, 4, 5]

In [ ]:
#Example
#Append list2 into list1:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Example
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]