In [ ]:
#Write a Program to interchange first and last elements in a list.
List=[1,2,3,4]
List[0], List[-1] = List[-1], List[0]
print(List)

[4, 2, 3, 1]

In [ ]:
#Program to swap two elements in a list
List=[2,3]
List[0],List[-1] = List[-1], List[0]
print(List)

[3, 2]

In [ ]:
#3. Swap elements in String list
List=["apple","banana","Kiwi"]
List[0],List[-1] = List[-1], List[0]
print(List)

['Kiwi', 'banana', 'apple']

In [ ]:
#4. Ways to find length of list
List=["apple","banana","cherry"]
print(len(List))

3

In [ ]:
#5. Maximum of two numbers in Python
a=10
b=15
if a>b:
  print(a)
else:
  print(b)

15

In [ ]:
#6. Minimum of two numbers in Python
a=10
b=15
if a<b:
  print(a)
else:
  print(b)

10

In [ ]:
#7. Ways to check if element exists in list
List=["apple","banana","cherry"]
if "cherry" in List:
  print("yes")
else:
  print("no")

yes

In [ ]:
#8. Different ways to clear a list in Python
List=[1,2,3,4,5,6,7,8]
List.clear()
print(List)

[]

In [ ]:
#9. Reversing a List
List=[1,2,3,4,5,6,7,8]
List.sort(reverse = True)
print(List)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#10. Cloning or Copying a list
List=[1,2,3,4,5]
List1 = List.copy()
print(List1)

[1, 2, 3, 4, 5]

In [ ]:
#Count occurrences of an element in a list
List=[1,2,3,4,4,5,5,6,5,]
List1=(List.count(5))
print(List1)

3

In [ ]:
#Program to find sum and average of List in Python
List=[1,2,3,4,34,54]
print(sum(List))
print(sum(List)/len(List))

98
16.333333333333332

In [ ]:
#Sum of number digits in List
List=[1,2,3,4,5]
print(sum(List))

15

In [ ]:
#Multiply all numbers in the list
x=94*23
print(x)

2162

In [ ]:
#Program to find smallest number in a list
List=[1355,24,243,4353,15,2545]
List.sort()
print(List[0])

15

In [ ]:
#Program to find largest number in a list
List=[1355,24,243,4353,15,2545]
List.sort(reverse = True)
print(List[-6])

4353

In [ ]:
#Program to find second largest number in a list
List=[1355,24,243,4353,15,2545]
List.sort(reverse = True)
print(List[-5])

2545

In [ ]:
#Program to print even numbers in a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Output: Even numbers
print("Even numbers in the list:")
for num in numbers:
    if num % 2 == 0:
        print(num)

Even numbers in the list:
2
4
6
8
10

In [ ]:
#Program to print odd numbers in a List
mylist=[7,2,3,4,10]
for i in mylist:
  if i%2!=0:
    print(i)

7
3

In [ ]:
#Program to print all even numbers in a range

In [ ]:
#Program to print all odd numbers in a range

In [ ]:
#Program to count Even and Odd numbers in a List
mylist=[1,2,3,4,5]
evencount=0
oddcount=0
for i in mylist:
  if i%2==0:
    evencount+=1
  else:
    oddcount+=1
print("evencount:",evencount)
print("oddcount:",oddcount)

In [ ]:
#Program to print positive numbers in a list
mylist=[1,-2,3,-4,5]
for i in mylist:
  if i>-1:
    print(i)

In [ ]:
#Program to print negative numbers in a list
mylist=[1,-2,3,-4,5]
for i in mylist:
  if i<0:
    print(i)

In [ ]:
#Program to print all positive numbers in a range
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
print("Positive numbers in the range:")
for number in range(start,end+1):
   if number>0:
      print(number)

In [ ]:
#Program to print all negative numbers in a range
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
print("Positive numbers in the range:")
for number in range(start,end+1):
  if number<0:
    print(number)

In [ ]:
#Program to count positive and negative numbers in a list
Mylist=[1,-2,3,-4,5]
Positive=0
Negative=0
for i in Mylist:
  if i>-1:
   Positive+=1
  else:
   Negative+=1
print("Positive:", Positive)
print("Negative:", Negative)

Positive: 3
Negative: 2

In [ ]:
#Remove multiple elements from a list in Python
Mylist=[1,2,3,4,5]
RemoveElements=[2,4]
for i in RemoveElements:
  if i in Mylist:
    Mylist.remove(i)
print(Mylist)

[1, 3, 5]

In [ ]:
#Remove empty tuples from a list
original_list = [(1, 2),(),(3, 4)]
filtered_list = [tup for tup in original_list if tup]
print(filtered_list)

[(1, 2), (3, 4)]

In [ ]:
#Program to print duplicates from a list of integers
Mylist = [1,2,2,3,3,4,5]
duplicates = []

for i in Mylist:
    if Mylist.count(i) > 1 and i not in duplicates:
        duplicates.append(i)

# Print the duplicates
for duplicate in duplicates:
    print(duplicate)

2
3