In [ ]:
myset={"apple","banana","cherry"}
print(myset)

{'banana', 'apple', 'cherry'}

In [ ]:
 #Duplicates Not Allowed
 #Sets cannot have two items with the same value.

#Example
#Duplicate values will be ignored:
thisset = {"sumit","rahul","govind","sumit","govind"}
print(thisset)

{'govind', 'sumit', 'rahul'}

In [ ]:
#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [ ]:
#Example
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'banana', 2, True, 'cherry', 'apple'}

In [ ]:
#Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [ ]:
#Example
#False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, 'banana', True, 'cherry', 'apple'}

In [ ]:
#Get the Length of a Set.
#To determine how many items a set has, use the len() function.
#Example
#Get the number of items in a set:
thisset={"Apple","cherry","banana","kiwi"}
print(len(thisset))

4

In [ ]:
#Set Items - Data Types
#Set items can be of any data type:

#Example
#String, int and boolean data types:

set1={"apple"}
set2={1,2,3,4}
set3={True,False}

In [ ]:
#A set can contain different data types:
#Example
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

In [ ]:
#type()
#From Python's perspective, sets are defined as objects with the data type 'set':

#Example
#What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
#The set() Constructor
#It is also possible to use the set() constructor to make a set.

#Example
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
#Access Items
#Loop through the set, and print the values:
#True or False. You can access set items by referring to the index.



thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
apple
cherry

In [ ]:
#Check if "banana" is present in the set:
thisset = {"apple","banana","cherry"}
print("banana" in thisset)

True

In [ ]:
#Check if "banana" is NOT present in the set:
thisset = {"apple","banana","cherry"}
print("banana" not in thisset)

False

In [ ]:
#Python - Add Set Items
#Add Items
#Once a set is created, you cannot change its items, but you can add new items.
#To add one item to a set use the add() method.

#Example
#Add an item to a set, using the add() method:
thisset ={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [ ]:
#Add Sets
#To add items from another set into the current set, use the update() method.

#Example
#Add elements from tropical into thisset:
thisset  = {"apple","banana","cherry"}
tropical = {"Pineapple","Mango","papaya"}

thisset.update(tropical)
print(thisset)

{'banana', 'Mango', 'apple', 'cherry', 'Pineapple', 'papaya'}

In [ ]:
#Add any iterable
#Example
#Add elements of a list to at set:
thisset= {"apple","banana","cherry"}
mylist = ["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'cherry', 'orange', 'banana', 'apple'}

In [ ]:
#Remove Item
#To remove an item in a set, use the remove(), or the discard() method.

#ExampleGet your own Python Server
#Remove "banana" by using the remove() method:
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)
#Note: If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [ ]:
#Example
#Remove "banana" by using the discard() method:

thisset = {"apple","cherry"}

thisset.discard("banana")

print(thisset)
#Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

In [ ]:
#Note: If the item to remove does not exist, remove() will raise an error.

#Example
#Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [ ]:
#Example
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
#Loop items
#Union
#Join set1 and set2 into a new set:
set1={"apple","kiwi","banana"}
set2={1,2,34,4}
set3 = set1.union(set2)
print(set3)

{1, 2, 34, 4, 'banana', 'kiwi', 'apple'}

In [ ]:
#you can use the | operator instead of the union() method, and you will get the same result.

#Example
#Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
#Join Multiple Sets
#All the joining methods and operators can be used to join multiple sets.

#When using a method, just add more sets in the parentheses, separated by commas:

#Example
#Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
#When using the | operator, separate the sets with more | operators:

#Example
#Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'c', 'cherry', 'bananas', 'Elena', 'a', 'b', 'apple', 'John'}

In [ ]:
#Join a Set and a Tuple
#The union() method allows you to join a set with other data types, like lists or tuples.

#The result will be a set.
#Example
#Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

In [ ]:
#Update
#The update() method inserts all items from one set into another.

#The update() changes the original set, and does not return a new set.

#Example
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#Note: Both union() and update() will exclude any duplicate items.

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
#Intersection
#Keep ONLY the duplicates

#The intersection() method will return a new set, that only contains the items that are present in both sets.

#Example
#Join set1 and set2, but keep only the duplicates:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
#You can use the & operator instead of the intersection() method, and you will get the same result.

In [ ]:
#Example
#Use & to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
#Example
#Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
#The values True and 1 are considered the same value. The same goes for False and 0.

In [ ]:
#Example
#Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [ ]:
#Difference
#The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

#Example
#Keep all items from set1 that are not in set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [ ]:
#You can use the - operator instead of the difference() method, and you will get the same result.

In [ ]:
#Example
#Use - to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [ ]:
#Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

In [ ]:
#The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

#Example
#Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [ ]:
#Symmetric Differences
#The symmetric_difference() method will keep only the elements that are NOT present in both sets.

#Example
#Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

In [ ]:
#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [2]:
#Example
#Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [3]:
#The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

#Example
#Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'microsoft', 'cherry', 'google'}