In [ ]:
#STRING

In [ ]:
print("Hello")
print('World')

Hello
World

In [ ]:
#Inside Quotes:
#you can use quotes inside the string.

print("He'l'lo")
print("Hello")
print('Hello')

He'l'lo
Hello
Hello

In [ ]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes:
#You can use three double quotes:

x = """My name is Sumit,
I am 20 year old,
I am pursuing second year of BCA"""
print(x)

My name is Sumit,
I am 20 year old,
I am pursuing second year of BCA

In [ ]:
# You can get the value by index Number Index number start from [0] and if talk about end to start So [-1]
a = "Hello, World!"
print(a[1])

a = "Sumit"
print(a[0])

e
S

In [ ]:
for x in "SUMIT SURYAVANSHI":
  print(x)

S
U
M
I
T

S
U
R
Y
A
V
A
N
S
H
I

In [ ]:
# If need to find len of value:
a = "Hello World"
print(len(a))

12

In [ ]:
#Slicing
#You can return a range of characters by using the slice syntax
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

i = "kumkum"
print(i[1:3])

llo
um

In [ ]:
#By leaving out the start index, the range will start at the first character:

#Example
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
#Slice To the End
#By leaving out the end index, the range will go to the end:

#Example
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
#Negative Indexing
#Use negative indexes to start the slice from the end of the string:
#Example
#Get the characters:

#From: "o" in "World!" (position -5)

#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

L = "Sumit, world"
print(L[-1:-3])

orl

In [ ]:
#Upper Case
#Example
#The upper() method returns the string in Upper case:
x = "He is a boy"
print(x.upper())

#Lower Case
#Example
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

HE IS A BOY
hello, world!

In [ ]:
#Remove Whitespace
#Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

#Example
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

x = "            kofekfoke nfienfienf                   "
print(x.strip())

Hello, World!
kofekfoke nfienfienf

In [ ]:
#Example
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

x = "Hello World"
print(x.replace("Hello World", "SUMIT"))

Jello, World!
SUMIT

In [ ]:
#Split String
#The split() method returns a list where the text between the specified separator becomes the list items.

#Example
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split())

a = "Hello World Sumit"
print(a.split())

['Hello,', 'World!']
['Hello', 'World', 'Sumit']

In [ ]:
#String Concatenation
#To concatenate, or combine, two strings you can use the + operator.

#ExampleGet your own Python Server
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World