In [ ]:
mytuple = ("apple","banana","cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
#read from note book
#thory till allow duplicate

In [ ]:
#Tuple allow duplicate value
Tuple = ("apple","mango","kiwi","cherry","orange","apple")
print(Tuple)

Tuple1 = ("apple","Mango","apple","Mango","Apple")
print(Tuple1)

('apple', 'mango', 'kiwi', 'cherry', 'orange', 'apple')
('apple', 'Mango', 'apple', 'Mango', 'Apple')

In [1]:
#Tuple length
#To determine how many items a tuple has, use the len() function:
Tuple = ("Sumit","Ankit","Satyam","rustom")
print(len(Tuple))

Tuple = ("sumit","rishu","aniket")
print(len(Tuple))

4
3

In [ ]:
#one item tuple remeber the comma
Tuple = ("apple","Kiwi",)
print(type(Tuple))

Tuple = ("apple","Kiwi")
print(type(Tuple))

<class 'tuple'>
<class 'tuple'>

In [ ]:
Tuple = ("apple")
print(type(Tuple))

<class 'str'>

In [ ]:
#Tuple item Data types
#Tuple item can be of any data type

#Example
#string, int and boolean data types:
tuple1 = ("sumit","Kiwi","cherry","banana")
tuple2 = (1,2,3,4,5)
tuple3 = ( True, False)
print(tuple1)
print(tuple2)
print(tuple3)

('sumit', 'Kiwi', 'cherry', 'banana')
(1, 2, 3, 4, 5)
(True, False)
('Amit', 'Kiwi', 'cherry')

In [ ]:
#A tuple can contain different data types:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
#type()
#What is the data type of a tuple?

tuple1 = ("apple","banana","cherry")
print(type(tuple1))

<class 'tuple'>

In [2]:
#Access Tuple Items
Thistuple = ("apple","banana","kiwi")
print(Thistuple[1])

Tuple = ("Sumit","Ankit","Partham")
print(Tuple[0])

banana
Sumit

In [ ]:
#Note: The first item has index 0.

In [ ]:
#Negative Indexing
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
#Range of Indexes
#Example
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
#Note: The search will start at index 2 (included) and end at index 5 (not included).

In [ ]:
#Example
#This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#Example
#his example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
#Rnage of Negative Indexes
#Specify negative indexes if you want to start the search from the end of the tuple:

#This example returns the items from index -4 (included) to index -1 (excluded)
Thistuple = ("apple","banana","cherry","orange","Kiwi","melon","Mango")
print(Thistuple[-4:-1])

('orange', 'Kiwi', 'melon')

In [ ]:
#Check if Item Exists
#Check if "apple" is present in the tuple:
Thistuple = ("apple","banana","cherry")
if "apple" in Thistuple:
  print("Yes, apple")

Tuple = ("Sumit","Amit","Jatin")
if "Usha" in Tuple:
  print("Yes")
else:
  print("No")

Yes, apple
No

In [3]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
#Remove Items
#Example
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple","banana","cherry")
y1 = list(thistuple)
y1.remove("apple")
thistuple = tuple(y1)
print(thistuple)

('banana', 'cherry')

In [ ]:
#Example
#The del keyword can delete the tuple completely:

#del thistuple

In [ ]:
#What is packing ?
#unpacking a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

#Packing a tuple:

#fruits = ("apple", "banana", "cherry")

#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [5]:
#Example
#Unpacking a tuple:

fruits = ("apple","banana","cherry")

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple","Kiwi","cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple', 'Kiwi']
cherry

In [ ]:
#Python - Loop Tuples
#Loop Through a Tuple
#You can loop through the tuple items by using a for loop.
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

Tuple = ("apple")
for x in Tuple:
  print(x)

apple
banana
cherry
a
p
p
l
e

In [ ]:
#Loop Through the Index Numbers
#You can also loop through the tuple items by referring to their index number.

#Use the range() and len() functions to create a suitable iterable.
#Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for u in range(len(thistuple)):
  print(thistuple[u])

apple
banana
cherry

In [ ]:
#Using a While Loop
#You can loop through the tuple items by using a while loop.
#Remember to increase the index by 1 after each iteration.


#Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

Tuple = ("apple","banana","cherry")
i = 0
while i < len(Tuple):
  print(Tuple[i])
  i = i + 1

apple
banana
cherry
apple
banana
cherry

In [ ]:
#- Join Tuples
#Join Two Tuples
#To join two or more tuples you can use the + operator:

In [ ]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

Tuple = ("l","s","d")
Tuple1 = ("sum","sd",1)
Tuple2  = Tuple + Tuple1
print(Tuple2)

('a', 'b', 'c', 1, 2, 3)
('l', 's', 'd', 'sum', 'sd', 1)

In [6]:
#Multiply Tuples
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:

#Example
#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

x = ("apple","Banana","cherry")
mytuple = x*1
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
('apple', 'Banana', 'cherry')